<section class="border border-danger text-white mt-4 p-3">
  <header class="">
    <h3 class="">{{ hotelTitle }}</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
      aliquam, vel esse laboriosam beatae sequi debitis vitae veniam totam
      impedit. Cumque consequuntur nesciunt enim magni.
    </p>
  </header>
  <main>
    <h5>List of {{ hotelTitle }} clients</h5>
    <div class="d-flex border border-primary row mt-3">
      <p class="col">Id</p>
      <p class="col">Client Name</p>
      <p class="col">Client Room Code</p>
      <p class="col">Date of Arrival</p>
      <p class="col">Price Paid</p>
      <p class="col">Rating</p>
    </div>
    <div>
        
    </div>
  </main>
</section>
