<section class="border border-danger text-white mt-4 p-3">
  <header class="">
    <h3 class="">{{ hotelTitle }}</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
      aliquam, vel esse laboriosam beatae sequi debitis vitae veniam totam
      impedit. Cumque consequuntur nesciunt enim magni.
    </p>
  </header>
  <main>
    <h5>List of {{ hotelTitle }} clients</h5>
    <section class="border border-white bg-white text-dark mt-4 p-3">
      <div class="d-flex row mt-3">
        <h6 class="col">Id</h6>
        <h6 class="col">Client Name</h6>
        <h6 class="col">Client Room Code</h6>
        <h6 class="col">Date of Arrival</h6>
        <h6 class="col">Price Paid</h6>
        <h6 class="col">Rating</h6>
      </div>
      <hr>
      <div class="row" *ngFor="let client of clients">
        <p class="col">{{ client.clientId }}</p>
        <p class="col">{{ client.clientName }}</p>
        <p class="col">{{ client.clientRoomCode }}</p>
        <p class="col">{{ client.ArrivalDate }}</p>
        <p class="col">{{ client.price | currency : "USD" : "symbol" : "1.2-2"  }}</p>
        <p class="col">{{ client.starRating }}</p>
      </div>
      <h6></h6>
    </section>
  </main>
</section>
